@use "theme" as *;


// Overall hyperlink styles
a {
  background: linear-gradient(to bottom, $tdbc-color-secondary 50%, $tdbc-color-secondary 80%);
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: 1px 3px;
  color: #ededed;
  text-decoration: none;
  transition: background-size ease-in-out 0.45s;
}

a:hover {
  color: $hover-font;
  background-size: 4px 50px;
}


// Custom hover state

.underline {
    position: relative;
    text-decoration: underline;
  }
  
  .underline::before{
    content: '';
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 0;
    height: 4px;
    background-color: $tdbc-color-secondary;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
}

// Text/Content loading animation

@keyframes slide-up {
  from {
      
      opacity: .25;
      margin-top: 25px;
  }
  to {
      
      opacity: 1;
      margin-top: 0;
  }
}

.slide-up {
  animation: slide-up 0.7s;
}



/* Waves*/

.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
}

.wave {
  position: fixed;
  bottom: -500px;
  left: 650px;
  opacity: 0.45;
  background: #fcbf1e;
  width: 1500px;
  height: 1500px;
  transform-origin: 50% 48%;
  border-radius: 25%;
  animation: drift 9000ms infinite linear;
}

.wave.-three {
  animation: drift 6000ms infinite linear;
  position: fixed;
  background-color: #d207e448;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: 0.1;
  background: #fa744f;
  position: fixed;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

/* LOADING SPACE */

.contain {
  animation-delay: 4s;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962ff);
  background: linear-gradient(#25a7d7, #25a7d7);
}

/* Animation */
.icon:nth-child(2) img {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.icon:nth-child(3) img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.icon:nth-child(4) img {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0, 0) rotateZ(180deg);
  transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }

  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}

@keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }

  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}