@use "sass:math";
@use "theme" as *;
@use "media-queries" as *;

// stylelint-disable-next-line selector-max-id, selector-max-specificity
#irevamp-siteid {
  // font-size: $irevamp-h3-font-size;
  text-decoration: none;
}

.headerhome {
  max-width: 70px;
  width: fit-content;
  transition: all ease-in-out 0.3s;
  position: relative;

  @include gt-sm {
    max-width: 90px;
  }
}

// .headerhome:hover {
// transform: perspective(500px) translate3d(10px, 0, 100px);
// }

.homeclass {
  display: inherit;
  @include lt-sm {
    display: none;
    visibility: hidden;
  }
}

// stylelint-disable selector-max-type
.irevamp-sitenav {
  background-color: irevamp-color("background");

  &__container,
  &__navlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__container {
    justify-content: space-between;
    width: 100%;
    max-width: 150ch;
    margin: 0 auto;
    padding: 2rem 0.5rem;

    @include lt-sm {
      flex-direction: column;
    }
  }

  &__navlist {
    li + li {
      margin-left: 2rem;
    }

    li > a {
      font-size: $irevamp-lead-font-size;
      text-decoration: none;
      font-family: $irevamp-font-family-primary;
      letter-spacing: 0;
      font-weight: 400;
    }

    @include lt-sm {
      margin-left: -2rem;
    }
  }
  &__footer {
    @include lt-sm {
      margin-left: 0;
    }
  }
}
// stylelint-enable
