---
layout: post.njk
templateEngineOverride: md, njk
title: Code
description: My technical accomplishments, projects, work
---

> (view this site's live repo <a href="https://github.com/partheus/site-revamp">here</a>)

Take a look at this [portfolio gallery of my latest projects](/menu) disguised as a restaurant menu card.

This page is still being built. Visit my <a href="https://github.com/partheus" target="_blank">GitHub</a> in the meantime.
