---
layout: page.njk
templateEngineOverride: md, njk
title: Colophon
description: I don't think we're in Kansas anymore...😧
---
"All publishers are Columbuses." - Mark Twain

> <div class="irevamp-text"><span class="bold600">col⋅o⋅phon</span> n. An inscription, usually at the end of a book, giving facts about its publication.</div>

This website was created by hand with love and affection on an old but trustworthy gaming laptop. It is written in HTML, Markdown, Nunjucks, CSS, and Javascript.

[Eleventy](https://www.11ty.dev/) is used for static page generation. [Git](https://git-scm.com/) is used for version control. [Github](https://github.com) is used to store the repository. This site is hosted on [Netlify](https://www.netlify.com/).

The primary serif typeface is [Crimson Pro](https://fonts.google.com/specimen/Crimson+Pro). Also used as a secondary serif is the [Bitter](https://fonts.google.com/specimen/Bitter) typeface. The text has a 5:1 contrast ratio at Level AA or better, as specified by [WCAG 2.0](https://www.w3.org/TR/WCAG20/).    
    


### Tools I Use
- ##### Hardware
    - Dell G5 gaming laptop (red)
- ##### Software
    - [VSCode](https://code.visualstudio.com/) for development
    - [Chromium Nightly](https://www.chromium.org/Home/) for testing
    - [Firefox](https://www.mozilla.org/en-US/firefox/new/) for testing
