---
layout: base.njk
templateEngineOverride: md, njk
---
<header class="irevamp-hero">
  <div class="irevamp-container slide-up hello">
    <h1 class="irevamp-ink--primary salutation">Parth Shiralkar</h1>
    <div class="intro irevamp-content-maxlength irevamp-ink--primary uppercase">author. developer. likes daal.</div>
    <div class="intro-about irevamp-content-maxlength irevamp-ink--primary">
      
  Like any delicious [recipe](/colophon), I believe websites are made by caefully choosing a few simple ingredients and preparing them well.

  I'm a big fan of most things. Currently, I work as a front-end web developer in [Portland, OR](https://parth.ninja).

  </div>
  </div>
</header>
<main class="irevamp-container">

  <div class="irevamp-section slide-up">
    <h5 style="margin-bottom: 0.6em;">Posts:</h5>
    <ul class="irevamp-column-container">
      {%- for page in collections.pages | reverse -%}
      <li class="irevamp-card">
        <div class="irevamp-card__content">
          <a href="{{ page.url }}" class="irevamp-card__title bold600">{{ page.data.title }}</a>
          <p class="irevamp-lead">{{ page.data.description }}</p>
          <p class="irevamp-card__date">{{ page.data.date | postDate  }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>

  <div>
{# {% include 'goodreads.html' %} #}
  </div>

{{ content | safe }}

</main>
