---
layout: base.njk
templateEngineOverride: md, njk
---
<header class="irevamp-hero">
  <div class="irevamp-container slide-up hello">
    <h1 class="irevamp-ink--primary salutation">Parth Shiralkar</h1>
    <div class="intro irevamp-content-maxlength irevamp-ink--primary uppercase">author. developer. likes daal.</div>
    <div class="intro-about irevamp-content-maxlength irevamp-ink--primary">
      
  Like most delicious [recipes and dishes](/menu), I believe websites are made by carefully choosing a few simple ingredients and preparing them with great gusto.

  I'm a big fan of several things. Currently, I work as a front-end web developer in [Portland, OR]().

<div class="irevamp-skin"></div>
  <blockquote class="blockquote-lilac">

**THIS WEBSITE IS CURRENTLY ~~AVAILABLE FOR VIEWING~~ UNDER CONSTRUCTION**
</blockquote>

> If you arrived to this page from the project menu card, go back [here](/menu)

> Check out the [styleguide](/styleguide) for this site
</div>
</div>

</header>

<main class="irevamp-container">




  {{ content | safe }}
</main>