---
layout: page.njk
templateEngineOverride: md, njk
title: Works
---
<div class="works-bg slide-up">
    <div class="works-item">
        <a href="https://www.merriam-webster.com/words-at-play/jawn-meaning-origin" target="_blank">
            <img class="works-cover" src="{{ '/img/works/jawnz.png' }}">
            <div class="works-about">Jawnz
Clothing that is stylish or expensive or both, usually high fashion. Started out as a meme. This poster I made combines two of my favorite things: fashion and maneating sharks.
<p class="bold600">Click to read more.</p>
            </div>
        </a>
    </div>

<div class="works-item">
        <a href="https://www.goodreads.com/book/show/59850757-axis-of-damage" target="_blank">
            <img class="works-cover" src="{{ '/img/works/damage.png' }}">
            <div class="works-about">
A private detective and his apprentice are hired to figure out the mystery behind strange, gruesome disappearances in a small Iowan town.
<p class="bold600">Click to read more.</p>
            </div>
        </a>
    </div>

<div class="works-item">
        <a href="https://www.amazon.com/Rare-Objects-Strange-Places-Stories-ebook/dp/B08413JJ7P" target="_blank">
            <img class="works-cover" src="{{ '/img/works/rare.png' }}">
            <div class="works-about">
A boy looks for hope in a mystical land. On a faraway moon, a maintenance worker learns what it means to be afraid. An assassin boards a plane to kill her last victim, but she has made what may be a fatal mistake. A man on death row lives his last day. This is a collection of short stories.
<p class="bold600">Click to read more.</p>
            </div>
        </a>
    </div>


</div>