---
layout: page.njk
templateEngineOverride: md, njk
title: Writing
pagination:
  data: collections.entry
  size: 5
  alias: entries
  reverse: true
---

{# <div class='box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
</div> #}
{# > [404 page test](nolinkhere) #}

I like to write. Find my [published works here](). As a former columnist for the Iowa State Daily, I have written copious amounts of polarizing nonsense. These [columns can be found here](https://www.iowastatedaily.com/search/?a=50cc513e-dd67-11e9-a119-3bb18836928e&s=start_time&sd=desc&l=75).

<div class="irevamp-container irevamp-mt-md">
  <div class="irevamp-section slide-up">
    <div class="irevamp-h5 irevamp-mb-md bold600">A few of my latest entries:</div>
    <ul class="irevamp-list-unstyled">
      {%- for page in pagination.items -%}
        <li class="irevamp-postlist">
          <div class="irevamp-postlist__content">
            <a href="{{ page.url }}" class="irevamp-text">{{ page.data.title }}</a>
            <p class="irevamp-lead">{{ page.data.date | postDate  }} {% if page.data.description %} • {{ page.data.description }}</p>{% endif %}
          </div>
        </li>
      {%- endfor -%}
    </ul>
        <div class="irevamp-h5 irevamp-mt-md bold600">Or <a href="/entries">read them all here.</a></div>

  </div>
</div>